.header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: var(--clr-primary);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0 20px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__searchInput {
  height: 12px;
  width: 100%;
  padding: 10px;
  border:none;
  border-radius: 5px 0 0 5px;

}

.header__searchIcon {
  height: 22px !important;
  padding: 5px;
  background-color: var(--clr-accent);
  border-radius: 0 5px 5px 0;
}

.header__searchIcon:hover,
.header__searchIcon:focus {
  background-color: var(--clr-accent-dark);
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin: 0 10px;
}